body {
    background-color: #dfdcdc;
    width: 380px;
    overflow: auto;
    margin: auto;
    font-family: monospace;
}

div.container {
    margin-left : auto;
    margin-right : auto;
    text-align : center;
}

div.header {
    margin-left : auto;
    margin-right : auto;
    text-align : center;
}