body {
    background-color: #dfdcdc;
}

div.container {
    margin-left : auto;
    margin-right : auto;
    text-align : center;
}

div.header {
    margin-left : auto;
    margin-right : auto;
    text-align : center;
}