body {
    background-color: #dfdcdc;
    width: 100%;
    overflow: auto;
    margin: auto;
    font-family: monospace;
}

div.container {
    margin-left : auto;
    margin-right : auto;
    text-align : center;
    width : 50%;
}

div.content {
    padding : 5px;
}

div.header {
    margin-left : auto;
    margin-right : auto;
    text-align : center;
}

nav > ul > li {
    margin : 2px;
    padding : 5px;
    border : 2px dashed black;
    display : inline;
    font-size: 1.3em;
}

nav > ul > li > a:visited {
    color : blueviolet;
}

nav > ul > li:hover {
    background-color: rgb(47, 179, 255);
}

nav > ul > li.active {
    background-color: rgba(47, 182, 255, 0.384);
}


nav > ul {
    
    list-style-type:  none;
}

header > nav { 
    text-align : center;
}

footer {
    text-align : center;
}

